.categories {
  max-width: 256px;
  width: 100%;
  margin-left: 12px;
  margin-bottom: 36px;
  .categories__container {
  }
  .categories__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .categories__item {
    cursor: pointer;
    // margin: 0 0 29px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .categories__item-text {
      margin: 0;
      color: #3d3d3d;

      font-size: 15px;
      font-family: Cera Pro;
      font-weight: 700;
      line-height: 40px;
    }
    .active {
      color: #46a358;
    }
  }
}
