.button{
    border-radius: 6px;
    background: #46A358;
    color:  white;
    color: #FFF;
    font-size: 16px;
    font-family: Cera Pro;
    font-weight: 500;
    border: none;
    cursor: pointer;
}