

.text{
    color: #727272;
font-size: 14px;
font-family: Cera Pro;
line-height: 24px;
}
.title{
    color: #3D3D3D;
font-size: 70px;
font-family: Cera Pro;
font-weight: 900;
line-height: 70px;
text-transform: uppercase;
}
.subtitle{
    color: #3D3D3D;
    font-size: 14px;
    font-family: Cera Pro;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}